<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
		<add key="ShowBrowserWindow" value="false" />
		<add key="DeleteTempFilesWhenFinished" value="true" />
		<add key="FailureStream" value="None" />
		<add key="SuccessStream" value="Out" />
		<add key="FailMessageFromTestOutput" value="true" />
		-->
	</appSettings>
</configuration>
